<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jansir.widget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jansir.widget.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.clock.ClockActivity" />
        <activity android:name=".customwidget.CustomWidgetActivity" />
        <activity android:name=".view.CustomViewActivity" />
        <activity android:name=".view.rain.RainActivity" />
        <activity android:name=".view.taji.TaiJiActivity" />
        <activity android:name=".view.sun.SunUpDownActivity" />
        <activity android:name=".viewgroup.CustomViewGroupActivity" />
        <activity android:name=".viewgroup.loadView.WBLoadIngActivity" />
    </application>

</manifest>